.hidden {
  display: none !important;
}

.container {
  width: 576px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
  padding: 0 0.75rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-half {
  width: 50%;
}

.img {
  display: flex;
  max-width: 100%;
}

.center {
  justify-content: center;
  align-items: center;
}

.width100 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
    flex-basis: calc(100% / 3);
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 90%;
    flex-basis: 90%;
  }
}
