ul {
  list-style-type: none;
  margin: 0;
}

li {
  width: 578px;
  padding: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.hidden {
  display: none !important;
}

.container {
  width: 576px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.entries-cont {
  height: 70rem;
}

.no-wrap {
  flex-wrap: nowrap;
}

.column-full,
.column-half {
  width: 100%;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
}

.img {
  display: flex;
  max-width: 100%;
}

.center {
  justify-content: center;
  align-items: center;
}

.justify-rt {
  width: 100%;
  justify-content: flex-end;
}

.sp-bw {
  justify-content: space-between;
}

.thin-text {
  font-weight: 100;
}

.no-padding {
  padding: 0;
}

.sp-bw {
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
    flex-basis: calc(100% / 3);
  }

  .column-half {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .container {
    width: 90%;
    flex-basis: 90%;
  }
}
