.hidden {
  display: none !important;
}

.container {
  width: 576px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
  padding: 0 0.75rem;
}

.column {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}

.column-half {
  width: 50%;
}

.img {
  width: 80%;
}

.center {
  justify-content: center;
  align-items: center;
}

.input {
  border-radius: 5%;
  border: 0.25px solid black;
}

.form-input {
  width: 33%;
}
