a:hover {
  cursor: pointer;
}

.heebo {
  font-family: "Heebo", sans-serif;
  letter-spacing: 1px;
  color: rgb(63, 63, 63);
}

.form-header {
  background-color: rgb(86, 21, 143);
  color: white;
}

.form {
  background-color: rgba(226, 226, 226, 0.692);
}

.padding {
  padding: 0.75rem;
}

.input {
  border-radius: 5%;
  border: 0.25px solid rgb(136, 136, 136);
  height: 2rem;
}

.input:focus {
  outline-color: rgb(86, 21, 143);
}

.notes {
  height: 150px;
}

.button {
  background-color: rgb(86, 21, 143);
  color: white;
  border-radius: 10%;
  width: 100px;
}

.button:hover {
  cursor: pointer;
}

.new-button {
  width: 75px;
  border-radius: 15%;
  margin: 2rem;
}

.edit-icon {
  color: rgb(86, 21, 143);
}

.delete {
  color: red;
  text-decoration: underline;
}

.thin-text {
  font-weight: 100;
}

.overlay {
  background: rgba(0, 0, 0, 0.61);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: inherit;
  justify-content: center;
  align-items: center;
}

.text-box {
  display: inherit;
  flex-direction: column;
  background-color: white;
  height: 33%;
  width: 70%;
  align-items: center;
  font-family: "heebo", sans-serif;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
}

.flex {
  display: flex;
}

.cancel-button {
  width: 35%;
  padding: 1rem;
  margin: 1rem;
  height: 4rem;
  background-color: rgba(126, 128, 129);
  font-size: 1.75rem;
}

.confirm-button {
  background-color: rgb(219, 64, 44);
}
